/* The star means all the body part */
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation bar start */

#present-page {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.5em;

}

.nav-bar {
    position:sticky;
    display: grid;
    grid-template-columns: 1fr 6fr repeat(3, 1fr) repeat(2, 0.4fr);
    background-color: white;
    width: 100%;
    height: 70px;

    align-items: center;
    justify-items: center;

    z-index: 1000;
}

#nav-bar-logo {
    width: 3.5em;
}

#nav-bar-name {
    width: 17em;
    margin-left: 0.5em;
}

#nav-bar-name1 {
    justify-self: left;
}

.nav-bar-text-button {
    list-style: none;
    color: #2f1f20;
    text-decoration: none;

    white-space: nowrap;
    /*Stop text to break words*/
}

.nav-bar-text-button:hover {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.5em;
}

.nav-bar-icon-button img:hover {
    filter: brightness(50%);
}

#nav-bar-cart {
    width: 2em;
}

#nav-bar-login {
    width: 2em;
    margin-right: 1.8em;
}

/* Navigation bar end */


/*Nav-bar-responsive*/
@media only screen and (max-width: 1028px) {
    .nav-bar {
        grid-template-columns: 0.25fr 1fr 0.5fr;
    }

    .nav-bar-icon-button {
        display: none;
    }

    .nav-bar-text-button {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .nav-bar {
        height: auto;
    }

    #the-three {
        margin-top: 2em;
    }
}

@media only screen and (max-width: 476px) {
    #nav-bar-name {
        width: 80%;
    }

    #nav-bar-logo {
        width: 70%;
    }
}

/* Footer */

.footer {
    background-color: #2f1f20;
    width: 100%;
    height: auto;

    margin-top: 100px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    ;

    justify-items: center;
    align-items: center;

    color: white;
}

#footer-logo {
    width: 60%;
}

.footer-contact-box {
    justify-self: left;
}

#footer-contact-title {
    margin-bottom: 1em;
    margin-left: 3em;
    font-size: 1.5em;
}

.footer-icons {
    width: 1.5em;
}

.footer-contact-box-info {

    margin-top: 1em;

    display: flex;
    flex-direction: row;

    justify-items: center;
    align-items: center;
}

.footer-p-info {
    margin-left: 1em;
    font-weight: lighter;
}

#croiss_bakery_pic {
    width: 100%;
    height: 40%;
    z-index: 100;
    position: absolute;
}

#croiss_bakery_logo {
    width: 20%;
    height: 20%;
    z-index: 400;   
}



/* Footer */

.footer {
    grid-row: 4/5;
    grid-column: 1/4;

    background-color: #2f1f20;
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 2fr;

    justify-items: center;
    align-items: center;

    color: white;
}

#footer-logo {
    width: 60%;
}

.footer-contact-box {
    justify-self: left;
}

#footer-contact-title {
    margin-bottom: 1em;
    margin-left: 3em;
    font-size: 1.5em;
}

.footer-icons {
    width: 1.5em;
}

.footer-contact-box-info {

    margin-top: 1em;

    display: flex;
    flex-direction: row;

    justify-items: center;
    align-items: center;
}

.footer-p-info {
    margin-left: 1em;
    font-weight: lighter;
}

#croiss_bakery_pic {
    width: 100%;
    height: 40%;
    z-index: 100;
    position: absolute;
}

#croiss_bakery_logo {
    width: 20%;
    height: 20%;
    z-index: 400;   
}

/*Footer responsive*/

@media only screen and (max-width: 870px) {
    .footer {
        height: 15em;
    }
}

@media only screen and (max-width: 700px) {
    .footer-icons {
        width: 1em;
    }

    .footer-p-info {
        font-size: 0.75em;
    }

    #footer-contact-title {
        font-size: 1em;
        margin-left: 5em;
    }
}

@media only screen and (max-width: 375px) {
 
    .footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-contact-box {
        margin-left: 2.5em;
    }

    #footer-logo {
        display: none;
    }

    .footer-icons {
        width: 1em;
    }

    .footer-p-info {
        font-size: 0.75em;
    }

    #footer-contact-title {
        font-size: 1em;
        margin-left: 5em;
    }
}

/*End Footer*/



/*Mid*/

.mid {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;

}

.pic {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    
}

#croiss_bakery_pic {
    z-index: 1;
    width: 100%;
    height: auto; /*Để responsive, kết hợp với sign up span*/
}

#croiss_bakery_logo {
    position: absolute; 
    z-index: 10000;
    align-items: center;

    margin-top: 1em;
    width: 20%;
    height: auto;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: #2f1f20;
    font-size: larger;
}

a:hover {
    text-decoration: underline;
}

.forgot {
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left:10vw;
    margin-right: 10vw;
    margin-top: 30vh;
    
    border: 7px solid #2f1f20;
    padding: 3em;

    justify-content: space-between; /* Đặt khoảng cách giữa các phần tử */
    gap: 2em;
}

input {
    position: relative;
    width: 27em;
    height: 2em;
    border: 0.25em solid #2f1f20;
    
}

button {
    width: 120px;
    height: 40px;
    background-color: #2f1f20;
    color: white;
    border-radius: 20px;
    font-size: larger;
}

.new_password, .confirm_password {
    position: relative;
}

.fa-eye, .fa-eye-slash {
    position: absolute;
    cursor: pointer;
    margin-top: 0.6em;
    left: 21em;
}

.sign-up span {
    display: block;
}



/*RESPONSIVE CHO FORGOT*/
@media only screen and (max-width: 1650px) {
    .forgot {
        margin-top: 25vh;
    }
}

@media only screen and (max-width: 1415px) {
    .forgot {
        margin-top: 20vh;
    }
}

@media only screen and (max-width: 1160px) {
    .forgot {
        margin-top: 15vh;
    }
}

@media only screen and (max-width: 856px) {
    .forgot {
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 611px) {
    .forgot {
        margin-top: 5vh;
    }
}
